
.lista-filmes{
    margin: 14px auto ;
    max-width: 800px;
}
.lista-filmes article{
    margin-top: 40px;
    width: 100%;
    padding: 15px;
    border-radius: 4px;
}
.article strong{
    font-size: 35px;
}
.capa{
    width: 1000px;
    max-width: 100%;
    max-height: 550px;
    object-fit: cover;
    display: block;
    border-radius: 8px 8px 0 0;
    margin-top: 14px;
    
    
}
.acessar{
    width: 1000px;
    max-width: 100%;
    height: 50px;
    background-color: #cf2b0e;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 8px 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: #FFF;
    margin-bottom: 20px;
    transition: all 0.7s;
}
.acessar:hover{
    color: #000;
}
.load{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px);
    margin-top: -40px;
    font-size: 30px;
}


