
.erro{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 120px);
    margin: -40px;
    font-size: 40px;
    color: #df1b0d;
    flex-direction: column;
    
}
.erro span{
    font-size: 25px;
    font-style: italic;
    
}